{% block page_title %}Home{% endblock %}
{% extends 'layout/base.twig' %}
{% block title %}Descuentos pa ti{% endblock %}

{% block content %}
    {{ include('home/_slider.twig', { slider_deals: slider_deals }) }}
    <section id="page" class="container">
        {{ include('home/_client_logos.twig') }}
        <div class="row">
            <div class="col-sm-8">
                {{ include('widgets/deals.twig', { featured_deals: featured_deals }) }}
            </div>

            <div class="col-sm-4 sidebar">
                <div class="inner-side shadow">
                    {{ include('widgets/ad.twig') }}
                    {% if not Auth.check() %}
                    {{ include('widgets/subscribe.twig') }}
                    {% endif %}
                    {{ include('widgets/categories.twig') }}
                    {{ include('widgets/popular_tags.twig') }}
                    {#{{ include('widgets/best_rated.twig') }}
                    {{ include('widgets/latest-comments.twig') }}#}
                </div>
            </div>
        </div>
    </section>

{% endblock %}