<div class="row">
    <div class="col-sm-12 clearfix">
        <div class="hr-link">
            <hr class="mBtm-50 mTop-30" data-symbol="DESCUENTOS DESTACADOS">
            <div class="view-all">
                <a href="/search">
                    Ver Todos
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 deals-container clearfix">
        {% for deal in featured_deals %}
            <div class="deal-item">
                <div>&nbsp;</div>
                <div class="deal-entry green">
                    <div class="offer-discount">
                        -{{ deal.discount }}%
                    </div>
                    <img src="{{ deal.featured_image }}" alt="#" class="img-responsive">

                    <!-- /.image -->
                    <div class="title">
                        <a href="/deal/{{ deal.id }}" title="{{ deal.title }}">
                            {{ deal.title }}
                        </a>
                    </div>
                    <div class="entry-content">
                        <div class="prices clearfix">
                            <div class="procent">
                                -{{ deal.discount }}%
                            </div>
                            <div class="price">
                                <i class="ti-money"></i>
                                <b>{{ deal.discount_price }}</b>
                            </div>
                            <div class="old-price">
                        <span>
                          <i class="ti-money"></i>
                            {{ deal.price  }}
                        </span>
                            </div>
                        </div>
                        <p>
                            {{ deal.description | raw }}
                        </p>
                    </div>
                    <!--/.entry content -->
                    <footer class="info_bar clearfix">
                        <a href="/deal/{{ deal.id }}" class="btn btn-block btn-primary btn-raised btn-sm">
                            Ver Descuento
                        </a>
                    </footer>
                </div>

            </div>
        {% endfor %}
    </div>
</div>